html,
body {
  padding: 0;
  margin: 0;
  font-family: PatrickHand-Regular, Radio Canada, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #faeacb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.classs {
  padding: 2rem;
}

@font-face {
  font-family: "PatrickHand";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/PatrickHand-Regular.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;500;600&display=swap");
