.container {
  padding: 0rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.results {
  font-size: 2rem;
  padding: 2rem;
}
